body {
  background-image: url('../images/food.png');
  background-repeat: repeat;
}

.navbar a.navbar-brand  {
  font-family: 'Lobster Two', sans-serif;
  font-size: 2.4rem;
  color: white;
}

.navbar {
  background-color: #FAC564;
}

.nav.navbar-nav > li > a {
  font-size: 1.2rem;
  text-align: center;
}

.navbar-default .navbar-header .navbar-toggle {
  border-color: white;
}

.person_profile .row .col-md-12 {
  background-color: rgba(255,255,255, 0.7);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.person_profile img {
  margin: 0 auto;
}

.person_profile .row .col-md-12 p {
  font-size: 1.4rem;
}

.person_back {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}