/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* sets up the base 10 */
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding: 0;
  font-size: 62.5%; /* sets up the base 10 */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid:first-child,
body > .container:first-child {
  margin-top: 50px;
}

.pushDown {
  margin-top: 50px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.person_profile {  
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Styles for Elements */
.halign_element {
  margin: 0 auto !important;
}


/* Beacon Submit Container Styles */
.beacon_submit_container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* People Posts Styles */
.people_post {
  margin-bottom: 3rem;
}

.people_post .row {
  border: 1px solid #333;
}

.people_post .col-xs-4 {
  padding-left: 0;
}

.person_profile h1,
.people_post h1 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.person_profile h2,
.people_post h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.person_profile h3,
.people_post h3 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}